## packing and unpacking

In [ ]:
tri_one = (12, 15)
tri_one

In [1]:
tri_two = 23, 12
tri_two

(23, 12)

In [2]:
tmp = 1,
tmp

(1,)

In [3]:
tri_three = (12, 25)
bt, ht = tri_three
print(f"{bt = }, {ht = }")

bt = 12, ht = 25

In [6]:
nums = (1, 2, 3, 4, 5)
n1, n2, *others = nums # 할당에서 오른쪽에서 *를 통핸 패킹은 list임.
print(f"{n1 = }, {n2 = }, {others = }")

n1 = 1, n2 = 2, others = [3, 4, 5]

In [ ]:
n1, n2, *_ = range(10) # tuple에 국한된 건 아님.
print(f"{n1 = }, {n2 = }, {_ = }")

n1 = 0, n2 = 1, _ = [2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
nums = tuple(range(1,6))

first, *others, last = nums
first

1

In [10]:
others

[2, 3, 4]

In [11]:
last

5

## 함수 호출 및 반환 과정에서의 패킹과 언패킹

In [12]:
def ret_num():
    return 1,2,3,4,5,

nums = ret_num()
nums

(1, 2, 3, 4, 5)

In [13]:
def ret_num():
    return 1,

nums = ret_num()
nums

(1,)

In [16]:
n, *others = ret_num() # 비어있는 list객체
n

1

In [15]:
others

[]

In [17]:
def ret_num():
    return 1,2,3,4,5

n, *others, l = ret_num()

n

1

In [18]:
others

[2, 3, 4]

In [19]:
l

5

In [20]:
def show_nums(n1, n2, *other):
    print(n1, n2, other, sep=", ")

show_nums(1,2,3,4,5)

1, 2, (3, 4, 5)

In [21]:
show_nums(1,2)

1, 2, ()

In [24]:
def sum(*nums):
    s = 0
    for i in nums:
        s += i
    return s

sum(1,2,3,4,5)

15

In [25]:
sum(1, 4)

5

In [26]:
def show_man(name, age, height):
    print(name, age, height, sep=", ")

p = ("kim", 22, 202)
show_man(*p)

kim, 22, 202

In [27]:
p = ["list", 100, 150]
show_man(*p)

list, 100, 150

In [28]:
t = (1, 2, (3,4))

a, b, [c, d] = t
print( a, b, c, d, sep=", ")

1, 2, 3, 4

In [29]:
a, b, i = t
print(a, b, i)

1 2 (3, 4)

In [31]:
p = 'Hong', (32, 178), '010-1234-1234', 'Korea'

name, (age, he), phone, nation = p
print(name, age)

Hong 32

In [32]:
name, (age, _), _, _ = p
print(name, age)

Hong 32

## `for` 루프에서의 언패킹

In [36]:
ps = [('Lee', 172), ('Jung',182), ['Yoon', 179]]

for n, h in ps:
    print(n, h, sep = ", ")

Lee, 172
Jung, 182
Yoon, 179