# `namedtuple` 의 이해와 작성

## `tuple` Review

In [1]:
tri_one = (12, 15)
tri_one

(12, 15)

## `namedtuple`의 장점

주석 없이도 가지고 있는 item이 무얼 의미하는지를 객체가 자체적으로 제공 가능.

attribute처럼 사용가능함.

In [ ]:
from collections import namedtuple 
Tri = namedtuple("Triangle", ["bottom", "height"]) # class factorization
tri_two = Tri(3,7)
tri_two

Triangle(bottom=3, height=7)

In [3]:
print(f"{tri_two[0] = }, {tri_two[1] = }")

tri_two[0] = 3, tri_two[1] = 7

In [4]:
print(f"{tri_two.bottom = }, {tri_two.height = }")

tri_two.bottom = 3, tri_two.height = 7

## `type` 형인 `namedtuple` 의 리턴 value

Python 에서는 class 도 object 임!!

Python 에서는 function도 class도 모조리 object 임

In [ ]:
print(f"{type(Tri) = }") # Tri 는 타입을 지정하는 `type` 객체
print(f"{Tri = }")       # __main__ 모듈의 attribute인 `Tri`

type(Tri) = <class 'type'>
Tri = <class '__main__.Triangle'>

In [7]:
Tri

__main__.Triangle

## `namedtuple`도 `tuple`처럼 immutable

In [ ]:
tri_two[0] = 777 # TypeError 메시지에서 namedtuple 의 첫번재 인자 문자열을 확인 가능: Triangle

TypeError: 'Triangle' object does not support item assignment

In [ ]:
Tri = namedtuple("Tri", ["bottom", "height"]) # 첫번째 인자와 return value를 받는 변수 이름을 일치시키는 경우가 많음.

## Unpacking 도 `tuple`과 유사.

In [12]:
tri_three = Tri(12, 79)

a, b = tri_three #unpacking
print(a,b)

12 79

In [15]:
def show (arg1, arg2):
    print(f"{arg1 = }, {arg2 = }")

t = Tri(3, 8)

show(*t) # unpacking

arg1 = 3, arg2 = 8

## `rename` parameter

Python 의 식별자 규칙에 맞지않는 필드 이름이나 예약어들을 바꿔주기 위한 parameter

In [17]:
# Python 예약어와 유효하지 않은 식별자가 있는 경우
# class, def, 1stField 등은 유효한 식별자가 아님.
Fields = namedtuple('Fields', ['class', 'def', '1stField']) # ValueError 발생.

ValueError: Type names and field names cannot be a keyword: 'class'

In [18]:
Fields = namedtuple('Fields', ['class', 'def', '1stField'],
                    rename = True,
                    )
f = Fields("Math", "function", "first")
f

Fields(_0='Math', _1='function', _2='first')

## `defaults` parameter

Python 3.7+ 부터 지원.

기본값을 지정할 수 있으며 `._field_defaults`  속성을 통해 확인 가능.

In [20]:
# 기본값 설정
Employee = namedtuple('Employee', ['name', 'id', 'dept', 'salary'], defaults=[0, 'N/A'])
# 마지막 두 필드 기본값 적용: dept=0, salary='N/A'

# 기본값 있는 필드 생략 가능
emp1 = Employee('John', 1001)  # dept와 salary는 기본값 사용
print(emp1)  # Employee(name='John', id=1001, dept=0, salary='N/A')

# 모든 값 명시적 제공 가능
emp2 = Employee('Jane', 1002, 'HR', 50000)
print(emp2)  # Employee(name='Jane', id=1002, dept='HR', salary=50000)

# 클래스 기본값 정보 확인
print(Employee._field_defaults)  # {'dept': 0, 'salary': 'N/A'}

Employee(name='John', id=1001, dept=0, salary='N/A')
Employee(name='Jane', id=1002, dept='HR', salary=50000)
{'dept': 0, 'salary': 'N/A'}

## Methods

In [21]:
Point = namedtuple('Point', 'x y z')
p = Point(1, 2, 3)

In [22]:
# 1. _make(): 반복 가능 객체로부터 새 인스턴스 생성
data = [4, 5, 6]
p2 = Point._make(data)
print(p2)  # Point(x=4, y=5, z=6)

Point(x=4, y=5, z=6)

In [23]:
# 2. _asdict(): OrderedDict로 변환 (Python 3.1+)
p_dict = p._asdict()
print(p_dict)  # OrderedDict([('x', 1), ('y', 2), ('z', 3)])

{'x': 1, 'y': 2, 'z': 3}

In [24]:
# 3. _replace(): 필드 값 변경한 새 인스턴스 생성
p3 = p._replace(y=20, z=30)
print(p)   # Point(x=1, y=2, z=3) - 원본은 변경되지 않음
print(p3)  # Point(x=1, y=20, z=30)

Point(x=1, y=2, z=3)
Point(x=1, y=20, z=30)

In [25]:
# 4. _fields: 필드 이름 튜플
print(p._fields)  # ('x', 'y', 'z')

('x', 'y', 'z')

## `namedtuple`로 생성된 `type`객체는 class 처럼 inheritance 가 가능함!

special method (dunder method)에 대한 overriding이 가능함.

In [27]:
class PointWithMethods(namedtuple('Point', 'x y z')):
    # 새 메서드 추가 방법
    def distance_from_origin(self):
        return (self.x ** 2 + self.y ** 2 + self.z ** 2) ** 0.5

    # 특수 메서드 재정의 예시
    def __str__(self):
        return f"Point({self.x}, {self.y}, {self.z}) " + \
                "- 원점과의 거리: {self.distance_from_origin():.2f}"

p = PointWithMethods(3, 4, 5)

print(p.distance_from_origin())  # 7.0710678118654755
print(p)  # Point(3, 4, 5) - 원점과의 거리: 7.07

7.0710678118654755
Point(3, 4, 5) - 원점과의 거리: {self.distance_from_origin():.2f}

## 응용: csv 데이터처리

In [35]:
import csv
from collections import namedtuple

def read_csv_as_namedtuples(file_path):
    with open(file_path, "r") as f:
        reader = csv.reader(f)
        header = next(reader)
        header = map(str.strip, header)
        Row = namedtuple("Row", header)
        return [Row(*row) for row in reader]

In [36]:
str.strip("   sds ")

'sds'

In [53]:
if "__vsc_ipynb_file__" not in globals(): 
    !pip install ipynbname

In [39]:
import ipynbname
import os


notebook_path = None
try:
    notebook_path = ipynbname.path()
except FileNotFoundError:
    print("Jupyter NoteBook 환경이 아님.")
    try:
        notebook_path = __vsc_ipynb_file__
    except NameError:
        print("vscode에서 ipynb를 수행하고 있지 않음")
    else:
        print("vscode에서 ipynb파일 수행중.")
        
if notebook_path:
    d = os.path.dirname(notebook_path)
    fstr = os.path.join(d,"data","test.csv")    

    users = read_csv_as_namedtuples(fstr)
    for user in users:
        print(f"{user.name}'s age is {user.age}.")

Jupyter NoteBook 환경이 아님.
vscode에서 ipynb파일 수행중.
김행근's age is  45.
김성근's age is  60.
박순이's age is  20.

## Custom Class와의 차이점: `__eq__`메서드

In [40]:
# 일반 클래스
class PersonClass:
    def __init__(self, name, age, job):
        self.name = name
        self.age = age
        self.job = job

# namedtuple
Person = namedtuple('Person', 'name age job')

# 인스턴스 생성
person_class = PersonClass('John Doe', 30, 'Developer')
person_named = Person('John Doe', 30, 'Developer')

In [41]:
# 접근 방식은 유사
print(person_class.name)  # 'John Doe'
print(person_named.name)  # 'John Doe'

John Doe
John Doe

In [ ]:
# Custom Class에서 __eq__가 구현되지 않았으므로 object의 것을 상속.
# 이 경우 id를 이용함.
p1 = PersonClass('John Doe', 30, 'Developer')
p2 = PersonClass('John Doe', 30, 'Developer')
print(p1 == p2)  # False (기본적 객체 ID 비교 결과)

False

In [ ]:
# namedtuple은 값을 비교하도록 구현됨.
n1 = Person('John Doe', 30, 'Developer')
n2 = Person('John Doe', 30, 'Developer')
print(n1 == n2)  # True (값 비교 결과)

True

In [45]:
# immutable이라는 점도 주의할 것
person_class.age = 31  # 클래스 인스턴스의 변경 가능성
# person_named.age = 31  # 오류! namedtuple은 불변